<extend name="Public/base"/>
<block name="body">
    <div id="container">
        <div class="clearfix">
            <div class="content_l">
            	<dl class="c_collections">
                    <dt>
                        <h1><em></em>我收藏的职位</h1>
                    </dt>
                    <dd>
                    	<form id="collectionsForm">
                            <ul class="reset my_collections">
                            	<li data-id="148519">
                             		<a title="搜狗" target="_blank" href="">
                             			<img alt="搜狗" src="">
                             		</a>
                             		<div class="co_item">
                             			<h2 title="商家运营">
	                                        <a target="_blank" href="">
	                                        	<em>商家运营</em> 
	                                        	<span>（8k-16k）</span>
	                                    	</a>
	                                    </h2>
	                                    <span class="co_time">发布时间：2014-07-01 09:21</span>
	                                    <div class="co_cate">搜狗 / 北京 / 1-3年 / 本科</div>
	                                    <span class="co_youhuo c7">领先品牌，全新产品，急聘电商运营人才。</span>
                                       	<a class="collection_link" target="_blank" href="">投个简历</a>
                            		    <i></i>
                                        <a class="collectionCancel collection_link collected" href="javascript:;">
                                        	取消收藏
                                        	<span>已取消收藏</span>
                                        </a>
                               		</div>
                            	</li>
                            </ul>
                        </form>
                    </dd>
                </dl>
            </div>	
            <div class="content_r">
            	<div class="mycenterR" id="myInfo">
            		<h2>我的信息</h2>
            		<a href="">我收藏的职位</a>
            		<br>
            		<a target="_blank" href="">我订阅的职位</a>
            	</div><!--end #myInfo-->
                <div class="greybg qrcode mt20">
                	<img width="242" height="242" alt="拉勾微信公众号二维码" src="__PUBLIC__/Home/style/images/qr_resume.png">
                    <span class="c7">扫描拉勾二维码，微信轻松搜工作</span>
                </div>
            </div>
       	</div>
<script src="__PUBLIC__/Home/style/js/collections.min.js"></script>
<script>
$(function(){
	$('.Pagination').pager({
	      currPage: 1,
	      pageNOName: "pageNo",
	      form: "collectionsForm",
	      pageCount: 1,
	      pageSize:  5
	});
});
</script>
</block>