<extend name="Public/base"/>
<block name="body">
    <div id="container">
        <div class="content_mid">
            <dl class="c_section c_section_mid">
                <dt>
                <h2><em></em>填写公司信息</h2>
                <a class="c_addjob" href="create.html"><i></i>发布新职位</a>
                </dt>
                <dd>
                    <div class="c_text">目标明确、前途光明的产品是吸引求职者的制胜法宝哦！</div>
                    <img width="668" height="56" class="c_steps" alt="第四步" src="__PUBLIC__/Home/style/images/step4.png">

                    <form method="post" action="{:U('Consum/product')}" id="productForm" method="post"
                          enctype="multipart/form-data">
                        <!--  <input type="hidden" value="8f79f658e49846ae89d90a3f1590f12e" name="resubmitToken"> -->
                        <input type="hidden" id="companyId" name="id" value="{$id}">
                        <div id="productDiv">
                            <div class="formWrapper">
                                <input type="hidden" value="25927" name="productInfos[0].companyId">
                                <h3>产品海报</h3>
                                <input type="file" name="cproimg">
                                <!--<div class="new_product mt20">
                                     <div id="productNo0" class="product_upload">
                                         <div style="background-color: rgb(147, 183, 187);">
                                             <span>上传产品图片</span>
                                             <br>
                                                  尺寸：380*220px   大小：小于5M
                                         </div>
                                     </div>
                                     <div id="productShow0" class="product_upload dn productShow">
                                         <img width="380" height="220" src="">
                                         <span>更换产品图片<br>380*220px 小于5M</span>
                                     </div>
                                     <input type="file" title="支持jpg、jpeg、gif、png格式，文件小于5M" onchange="img_check(this,'http://www.lagou.com/c/upload.json',380,220,5,'myfiles0','myfiles0_error','productNo0','productShow0','type0','productInfos0');" name="myfiles" id="myfiles0">
                                     <input type="hidden" value="3" name="productInfos[0].type" id="type0">
                                     <input type="hidden" name="productInfos[0].productPicUrl" id="productInfos0">
                                 </div> -->
                                <span style="display:none;" id="myfiles0_error" class="error"></span>
                                <h3>产品名称</h3>
                                <input type="text" placeholder="请输入产品名称" name="cproname" id="name0">

                                <h3>产品链接</h3>
                                <input type="text" placeholder="请输入产品主页URL或产品下载地址" name="cproad" id="address0">

                                <h3>产品简介</h3>
                                <textarea placeholder="请简短描述该产品定位、产品特色、用户群体等" maxlength="1000" name="cprobrief"
                                          id="description0"></textarea>
                                <!-- <div class="word_count">你还可以输入 <span>500</span> 字</div> -->
                            </div>
                        </div>
                        <!--   <a id="addMember" class="add_member" href="javascript:void(0)"><i></i>继续添加公司产品</a> -->
                        <div class="clear"></div>
                        <input type="submit" value="保存，下一步" id="step4Submit" class="btn_big fr">
                        <a class="btn_cancel fr" href="{:U('Consum/step5')}?id={$id}">跳过</a>
                    </form>
                </dd>
            </dl>
        </div>
    </div>

</block>